
.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 3%;
    border: none;
    background-color: skyblue;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.h2{
    display: flex;
    justify-content: center;
}

.label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}
  
.select, .input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    max-width: 30%;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 0.5rem;
}
  
.button:hover {
    background-color: #45a049;
}
.list{
    max-width: 60%;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;background-color: grey;color: black;list-style-type: none;
    display: grid;grid-template-columns: repeat(5,20%);
    justify-content: space-around;align-items: center;
}
.list input{
    width: 40%;
    padding: 0.4rem 1rem;
    background: none;border: none;
}

.list input:hover{
    background-color: white; border: none; text-decoration: underline;
}

.removeBtn{
    display: grid;
    justify-content: center;
    max-width: 4rem;padding: 0.4rem 0.6rem;border: none;
    background-color: rgb(240, 60, 60);color: white;
    cursor: pointer;
}
.editBtn{
    display: grid;
    justify-content: center;
    max-width: 4rem;padding: 0.4rem 0.6rem;border: none;
    background-color: rgb(49, 231, 79);color: white;cursor: pointer;
}

.downloadBtn{
    margin-top: 1rem; margin-left: 2rem;
    max-width: 10rem;padding: 0.5rem; border-radius: 0.4rem ;border: none;
    background-color: rgb(240, 136, 18);color: white; cursor: pointer;
}